/*
1. --background-color - #ffffff
2. --text-color
3. --accent-color 
*/

:root 
{
  --main-bg-color: #ffffff;
  --main-text-color:#000000;
  --accent-color: #4caf50;
  --secondary-text-color: #ffffff; 
}

body 
{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Arial", sans-serif;

}

.content p
{
  padding:20px;
  background-color: var(--accent-color);
  color:var(--secondary-text-color);
}
.content p:hover
{
  padding:20px;
  background-color: var(--main-text-color);
  color:var(--accent-color);
  transition-delay: .3s;
}