body
{
  background-color: lightyellow;
}

.container
{
  padding: 20px;
  background-color: lightgrey;
  margin-bottom:30px;
}

.adjacent-box
{
  background-color: lightblue;
  padding: 10px;
  margin: 20px 0px;
}